body {
  width: 80%;
  margin: 0px auto;
  padding-top: 7px;
  background-color: #F1F1F1;
}

#caption {
  font-size: 2em;
  background-color: #DEDEDE;
  padding: 5px;
}

#caption a {
  text-decoration: none;
}

#navigation {
  background-color: #E0F0E0;
  font-size: 1.3em;
  padding: 3px 0px 7px 40px;
}

#navigation a {
  padding: 0 5px;
}

#content {
  max-width: 800px;
  padding:  5px;
  font-size: 1.5em;
}

code.sourceCode {
  border: solid black;
  border-width: 1px 1px 1px 5px;
  display: block;
  border-color: black transparent black green;
  padding: 5px;
  padding-bottom: 7px;
  margin: 15px;
}


footer {
  border-top: 1px solid black;
  text-align: right;
}

@font-face {
  font-family: 'social';
  src: url("/fonts/social.eot?#iefix") format("embedded-opentype"),
       url("/fonts/social.woff") format("woff"),
       url("/fonts/social.ttf") format("truetype"),
       url("/fonts/social.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.social {
  font-family: social;
  font-size: 2em;
}

li {
  margin: 5px;
}

li a {
  text-decoration: none;
  color: black;
  background-color: #F0FDF0;
}

li:nth-child(odd) a {
  background-color: #E0F0E0;
}

dl.dl-horizontal {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 60%;
  overflow: visible;
  line-height: 1.7em;
}
dl.dl-horizontal dd{
  flex: 0 0 70%;
  margin-left: auto;
  text-align: left;
  background-color: #F0FDF0;
  text-overflow: ellipsis;
  overflow: hidden;
}

dl.dl-horizontal dt{
  flex: 0 0 30%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  background-color: #E0F0E0;
}


#header . a {
}

.post-author {
  padding-left: 30px;
  padding-bottom: 5px;
  margin: 0 10px;
}
