@font-face {
  font-family: 'social';
  src: url("/fonts/social.eot?#iefix") format("embedded-opentype"),
       url("/fonts/social.woff") format("woff"),
       url("/fonts/social.ttf") format("truetype"),
       url("/fonts/social.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.social {
  font-family: social;
  font-size: 2em;
}
