<div class="container-fluid">
    <div class="span8">
        <div id="posts">
	    <font color="blue">recentPosts</font> <font color="red">=</font>
            <ul class="haskell-list">
                $posts$
            </ul> ++ <a href="/posts.html">archive</a>
        </div>

    </div>
    <div class="span3">
        <p>
        <font color="blue">tags</font> <font color="red">=</font> <font color="cyan">[</font> $tags$ <font color="cyan">]</font>
	 </p>
        <p><strong>Links:</strong><br />
        <ul>
            <li><a href="http://gentoo.org">Gentoo Linux</a></li>
            <li><a href="http://gentoohaskell.wordpress.com/">Gentoo haskell blog</a></li>
        </ul>
        </p>
    </div>
</div>
