<div class="container-fluid">
    <div class="span8">
        <div id="posts">
            <h1>All posts</h1>
            <ul>
	       $for(posts)$
	       <li>(<a href="$url$">$title$</a>, $date$)</li>
	       $endfor$
            </ul>
        </div>
    </div>
    <div class="span3">
        <p><strong>Browse Tags:</strong><br /> $tags$</p>
        <p><strong>Links:</strong><br />
        <ul>
            <li><a href="http://gentoo.org">Gentoo Linux</a></li>
            <li><a href="http://gentoohaskell.wordpress.com/">Gentoo haskell blog</a></li>
        </ul>
        </p>
    </div>
</div>
