<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Qnikst blog RSS feed - Post tagged web</title>
    <link href="https://qnikst.github.io/tags/web.xml" rel="self" />
    <link href="https://qnikst.github.io" />
    <id>https://qnikst.github.io/tags/web.xml</id>
    <author>
        <name>Alexander Vershilov</name>
        <email>alexander.vershilov@gmail.com</email>
    </author>
    <updated>2013-02-04T00:00:00Z</updated>
    <entry>
    <title>Using mathjax latex formula with Hakyll-4</title>
    <link href="https://qnikst.github.io/posts/2013-02-04-hakyll-latex.html" />
    <id>https://qnikst.github.io/posts/2013-02-04-hakyll-latex.html</id>
    <published>2013-02-04T00:00:00Z</published>
    <updated>2013-02-04T00:00:00Z</updated>
    <summary type="html"><![CDATA[<p>Recently I’ve checked a list of manuals for pandoc and latex, but they were quite outdated.</p>
<p>The problems that by default pandoc tries to use utf only to render formulas but it doesn’t work in many cases. Best solution would be <a href="http://www.mathjax.org/">mathjax</a> as it will work in majority of brousers unlike mathml.</p>
<p>To set up hakyll to use latex one needs to set pandoc compiler options:</p>
<pre><code>    -- ...
    compile \$ pandocCompilerWith defaultHakyllReaderOptions pandocOptions 
    -- ...

pandocOptions :: WriterOptions
pandocOptions = defaultHakyllWriterOptions{ writerHTMLMathMethod = MathJax &quot;&quot; }</code></pre>
<p>But you will have to add mathjax url to pages where you have math, and do nothing at pages without. So you can add a special marker to page header</p>
<pre><code>----
....
mathjax: on
---</code></pre>
<p>and then add a special context that will check marker it sill populate field mathjax with either script url or nothing</p>
<pre><code>mathCtx :: Context a
mathCtx = field &quot;mathjax&quot; $ \item -&gt; do
    metadata &lt;- getMetadata $ itemIdentifier item
    return $ if &quot;mathjax&quot; `M.member` metadata
                  then &quot;&lt;script type=\&quot;text/javascript\&quot; src=\&quot;http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML\&quot;&gt;&lt;/script&gt;&quot;
                  else &quot;&quot;</code></pre>
<p>now you need to add $mathjax$ value to your tempate and add math context to your context (I’ve used default.html)</p>
<pre><code>&lt;head&gt;
    ...
    &lt;script src=&quot;/js/bootstrap.min.js&quot;&gt;&lt;/script&gt;
    $mathjax$
&lt;/head&gt;</code></pre>
<pre><code>  match &quot;posts/*&quot; $ do
      route $ setExtension &quot;.html&quot;
      compile $ pandocCompilerWith defaultHakyllReaderOptions pandocOptions 
         &gt;&gt;= saveSnapshot &quot;content&quot;
         &gt;&gt;= return . fmap demoteHeaders
         &gt;&gt;= loadAndApplyTemplate &quot;templates/post.html&quot; (postCtx tags)
         &gt;&gt;= loadAndApplyTemplate &quot;templates/default.html&quot; (mathCtx `mappend` defaultContext)
         &gt;&gt;= relativizeUrls</code></pre>
<p>that’s all</p>
<p>Example:</p>
<p><span class="math display">\[M_1=\sqrt{\dfrac{(1-q_1)(1-q_2)}{2\beta_1(q_1-q_2)}}\,H_2^{1/4}\,,\qquad
M_2=\sqrt{\dfrac{(1+q_1)(1+q_2)}{2\beta_2(q_2-q_1)}}\,H_2^{1/4}\,,\]</span> and <span class="math display">\[{{\gamma}}_3=\dfrac{2\varkappa H_2^{1/4}}{\sqrt{2(\beta_1-\beta_2)(q_2-q_1)}}\,.\]</span> Such as <span class="math inline">\(C_1=0\)</span> and <span class="math display">\[\dot{q}_k=\{H,q_k\}=-\dfrac{4\beta_1p_2M_1(1+q_k)}{{{\gamma}}_3}-\dfrac{4\beta_2{{\gamma}}_1M_2(1-q_k)}{{{\gamma}}_3}\,,\]</span></p>]]></summary>
</entry>

</feed>
