package-db: /home/qnikst/workspace/myself/blog/cabal-dev/packages-7.6.2.conf
user-install: False
local-repo: /home/qnikst/workspace/myself/blog/cabal-dev/packages
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/qnikst/.cabal/packages
world-file: /home/qnikst/.cabal/world
build-summary: /home/qnikst/workspace/myself/blog/cabal-dev/logs/build.log
remote-build-reporting: anonymous
jobs: 4
install-dirs user
  prefix: /home/qnikst/workspace/myself/blog/cabal-dev/
  libsubdir: $pkgid/$compiler
  libexecdir: $prefix/libexec
  docdir: $datadir/doc/$pkgid
install-dirs global
  prefix: /home/qnikst/workspace/myself/blog/cabal-dev/
  libdir: $prefix/lib
  libsubdir: $pkgid/$compiler
  docdir: $datadir/doc/$pkgid